:root {
  --mouse-x: 481.10760498046875px;
  --mouse-y: 52.019073486328125px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
  margin-top: 2em;
  margin-bottom: 1em;
}

blockquote {
  position: relative;
  padding-left: 1em;
  color: #4a4a4a;
  border-left: none !important;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0.2em;
    background-color: #6dde9b;
    border-radius: 6px;
  }

  p:first-of-type::before {
    content: "“";
    font-size: 1.2em;
    color: #879f91;
    margin-right: 0.2em;
    vertical-align: middle;
  }

  // 最后一个 p 加后引号
  p:last-of-type::after {
    content: "”";
    font-size: 1.2em;
    color: #879f91;
    margin-left: 0.2em;
    vertical-align: middle;
  }

  p:last-of-type {
    display: inline;
  }
}

p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

ul,
li {
  list-style: initial;
  margin: initial;
  padding: initial;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  &::marker {
    color: #6dde9b;
  }
}
ul {
  padding-left: 2em;
}

ol {
  margin-left: 1rem;
}

.p-span-tag {
  background: var(--tooltip-bg-color);
  color: var(--tooltip-bg-color);
  border-radius: 3px;
  transition: background 0.5s ease;
}

.p-span-tag:hover {
  background: transparent;
}

@supports (animation-timeline: view()) {
  .mark {
    --highlighted: 0;
    background: #0000;
    animation: markdown_highlight__gm6CE steps(1) both;
    animation-timeline: view();
    animation-range: entry 100% cover 10%;
    &-span {
      color: var(--font-color);
    }
  }
}

@keyframes markdown_highlight__gm6CE {
  100% {
    --highlighted: 1;
  }
}

.mark {
  --highlight: oklch(0.76 0.09 142 / 0.3);
  display: inline;
  background: linear-gradient(120deg, var(--highlight) 50%, transparent 50%) 110% 0 / 200% 100%
    no-repeat;
}

.mark.animate {
  animation: highlight-glow 1s ease-out forwards;
}

@keyframes highlight-glow {
  from {
    background-position: 110% 0;
  }
  to {
    background-position: 0% 0;
  }
}

.hover-link {
  position: relative !important;
  text-decoration: underline !important;
  color: #3d92ff !important;
  text-decoration-color: rgba(241, 137, 46, 0.479) !important;
  align-items: center;
}

.polaris-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 4px;
  background-color: #000000;
  mask-image: url("@/assets/svg/mingcute.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url("@/assets/svg/mingcute.svg");
}

.dark .polaris-icon {
  background-color: #ffffff;
  mask-image: url("@/assets/svg/mingcute.svg");
  -webkit-mask-image: url("@/assets/svg/mingcute.svg");
}

.hover-link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1.5px;
  background-color: #f0487b8e;
  width: 0;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
  text-decoration: none;
}

.hover-link:hover::before {
  width: 100%;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.admonition-content p {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

@keyframes dropdown {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeout {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
}

pre {
  margin-block: 0em 0em;
  padding: 0;
  line-height: 0.3rem;
}

p code {
  font-family: "Courier New", monospace;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 0.9em;
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: "`";
  margin: 0 0.1em;
}

.shiki code {
  counter-reset: line; /* 初始化计数器 */
}

.shiki code .line {
  counter-increment: line; /* 每遇到一个 .line 元素，计数器加 1 */
}

.shiki code .line::before {
  content: counter(line); /* 显示计数器的值作为行号 */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: #6e6e6e; /* 行号颜色 */
  user-select: none; /* 防止行号被选中 */
}

/* 来自 Uiverse.io by boryanakrasteva - 缩小版 */
.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
  display: flex;
}

.checkbox-wrapper *,
.checkbox-wrapper ::after,
.checkbox-wrapper ::before {
  box-sizing: border-box;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.checkbox-wrapper .label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.checkbox-wrapper .check {
  width: 24px;
  height: 24px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper .label svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.checkbox-wrapper .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s stroke-dashoffset;
  opacity: 1;
}

.checkbox-wrapper .check:checked + label svg g path {
  stroke-dashoffset: 0;
  opacity: 1;
}

/* 调整列表项样式 */
.task-list-item {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
